p.groove {
    border-style: groove;
    width: 950px;
}

h6 {


    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

}

.gambarAwal {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 400px;
    padding-bottom: 50px;
    padding: 40px;
    color: #FFFFFF; 
    width: 100%;
}

.fitur{
    margin-right: 50px;
}

.gambar{
    margin-left: -50px;
}

h1 {
    font-weight: 900;
}

h3 {
    font-weight: 900;
}

button {
    width: 265px;
    height: 71px;
    left: 1045px;
    top: 808px;

    background: #A1C4FD;
}

.text-ajukan {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    color: #000000;
}