p.groove {
    border-style: groove;
    width: 950px;
}

body{
    background-color: #2F303A;
}

h6 {


    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

}

.gambarAwal {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 400px;
    padding-bottom: 50px;
    padding: 40px;
    color: #FFFFFF; 
    width: 100%;
}

.fitur{
    margin-right: 50px;
}

.gambar{
    margin-left: -50px;
}

h1 {
    font-weight: 900;
}

h3 {
    font-weight: 900;
}

button {
    width: 265px;
    height: 71px;
    left: 1045px;
    top: 808px;

    background: #A1C4FD;
}

.text-ajukan {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    color: #000000;
}

.font-brand {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

li {
    list-style: none;
    padding-left: 50px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .blue{
    color: #32CFF1;
  }

  .navbar-brand{
      margin-left: 100px;
  }

  .nav-item{
    margin-left: 30px;
  }

