body{
    margin:0;
}

.hero-image{
    background-image: url("/assets/images/background-rumah-sakit.jpg");
    background-color: #cccccc;
    height: 950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
 