body {
    background-color: #2F303A;
}

h1 {
    font-size: 36;
}

.about-section {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

p {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.row {
    text-align: center;
    column-rule-style: hidden;
}

.caption {
    text-align: center;
}